<h1>This Appointment</h1>

<p>Time:</p>
<%= @appointment.to_date %>
<p>Patient:</p>
<%= link_to @appointment.patient.name, patient_path(@appointment.patient) %>
<p>Doctor: </p>
<%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %>